#root {
  margin: 0;  
}

.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: $green;
  color: $white;
  z-index: 1;

  .container {
    font-family: $principal-font-family;
  }
}

.fixed-header {
  top: 0;
  padding: 12px 0;
  .container {
    font-style: italic;
    font-size: 25px;
  }
}

.fixed-footer {
  bottom: 0;
  padding: 10px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}
