/* Colors */
$gray-background: #f7f9fa;
$green: #00b894;
$white: #fff;
$black: #000;
$employee-card-border-color: #ccc;
$employee-card-font-color: #666;

/* Fonts */
$avatar-font-family: "Courier New", monospace;
$avatar-font-size: 16px;
$employee-card-font-family: arial, verdana, tahoma;
$employee-card-font-size: 11px;