/* Colors */
$gray-background: #f7f9fa;
$green: #00b894;
$white: #fff;
$black: #000;
$employee-card-border-color: #ccc;
$employee-card-font-color: #666;
$light-blue: #c8e4f8;
$border-employee-container-color: #94a0b4;

/* Fonts */
$principal-font-family: 'Fira Sans', sans-serif;
$avatar-font-family: "Courier New", monospace;
$avatar-font-size: 16px;
$employee-card-font-family: arial, verdana, tahoma;
$employee-card-font-size: 11px;